# EJERCICIO MACHINE LEARNING: PREDICCIÓN PRECIO CASAS

In [2]:
#Librerías requeridas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [3]:
#Carga de los datos
data = pd.read_csv('kc_house_data.csv', sep = ',')

In [4]:
data.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [14]:
#Adecuacion de los datos

data['date'] = pd.to_datetime(data['date'],format = '%Y-%m-%d')
data.loc[data['yr_renovated'] != 0, 'yr_renovated'] = pd.to_datetime(data.loc[data['yr_renovated'] != 0, 'yr_renovated'], format = '%Y')

df_aux = data

df_aux['yr_renovated_dummy'] = data['yr_renovated'].apply(lambda x: 1 if x!=0 else 0)
df_aux = df_aux.drop(['yr_renovated'], axis=1)
df_aux['property_age'] = 2015 - data['yr_built']
columns = ['price','bedrooms', 'bathrooms', 'sqft_living','waterfront', 'view', 'condition', 'grade','yr_renovated_dummy', 'property_age']
df_aux = df_aux[columns]

Y = df_aux['price']


X= df_aux
X = X.drop(columns = ['price'])

# Modelo de entrenamiento

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

modelo_entrenamiento = LinearRegression().fit(X_train, Y_train)

In [7]:
#TRAIN

Y_predict = modelo_entrenamiento.predict(X_train)


#Entrenamiento
print("R2: %.2f" % r2_score(Y_train, Y_predict) )

print("MSE: %.2f" % mean_squared_error(Y_train, Y_predict, squared =True))

print("RMSE: %.2f" % mean_squared_error(Y_train, Y_predict, squared = False))

print("MAE: %2.f" % mean_absolute_error(Y_train, Y_predict))

R2: 0.65
MSE: 48311315952.41
RMSE: 219798.35
MAE: 142347

In [8]:
#TEST

Y_predict_test = modelo_entrenamiento.predict(X_test)

print("R^2: %.2f" % r2_score(Y_test, Y_predict_test) )

print("MSE: %.2f" % mean_squared_error(Y_test, Y_predict_test, squared =True))

print("RMSE: %.2f" % mean_squared_error(Y_test, Y_predict_test, squared = False))

print("MAE: %2.f" % mean_absolute_error(Y_test, Y_predict_test))

R^2: 0.64
MSE: 42285828321.69
RMSE: 205635.18
MAE: 136277

In [9]:
#PRUEBA TOTAL

Y_predict_total = modelo_entrenamiento.predict(X)

print("R^2: %.2f" % r2_score(Y, Y_predict_total) )

print("MSE: %.2f" % mean_squared_error(Y, Y_predict_total, squared =True))

print("RMSE: %.2f" % mean_squared_error(Y, Y_predict_total, squared = False))

print("MAE: %2.f" % mean_absolute_error(Y, Y_predict_total))

R^2: 0.65
MSE: 47106106910.28
RMSE: 217039.41
MAE: 141133

In [10]:
comparacion = pd.DataFrame({'Precio Real': Y, 'Precio Modelo': Y_predict_total })

comparacion.head(5)

   Precio Real  Precio Modelo
0     221900.0  296557.437548
1     538000.0  628211.712218
2     180000.0  214829.697950
3     604000.0  491600.866246
4     510000.0  446680.451301

# FUNCIONAMIENTO FINAL

In [11]:
X.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'waterfront', 'view',
       'condition', 'grade', 'yr_renovated_dummy', 'property_age'],
      dtype='object')

In [17]:
### Index(['bedrooms', 'bathrooms', 'sqft_living', 'waterfront', 'view',
###       'condition', 'grade', 'yr_renovated_dummy', 'property_age'],
###      dtype='object') 

Prediccion = modelo_entrenamiento.predict([[2,3,2000,1,2,5,8,1,11]])

Prediccion

array([1270357.5919599])